@font-face {
  font-family: 'Cocogoose';
  src: url(../fonts//cocogoose-font/Cocogoose\ Pro\ Light-trial.ttf);
}

.cocogoose {
  font-family: 'Cocogoose', sans-serif;
  font-size: 90px;
}

.lato {
  font-family: 'Lato', sans-serif;
  font-size: 90px;
}

.toggleNav {
  display: none;
}

.navbar {
  position: initial;
  height: auto;
  background: white;
}

.navbar-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 7vw;
  height: 3.5vh;
  color: white;
  background-color: rgba(80, 80, 80, 0.9);
  font-size: 2vw;
  width: initial;
  height: 40px;
}

.social-networks {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 2.5vw;
}

.social-networks a {
  color: white;
}

.social-networks i {
  width: 2vw;
}

.navbar-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-end: 0vw;
}

#navbar-logo {
  background-color: green;
  margin: 0 1vw;
  height: auto;
  width: 30vw;
}

.navbar-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  padding-inline-start: 0;
  list-style: none;
}

.navbar-sections li {
  margin: 0;
}

.navbar-sections li a {
  text-decoration: none;
  font-size: 2vw;
  font-family: 'Cocogoose', sans-serif;
}

#at-campaign {
  background-color: white;
  color: orangered;
  border: solid orangered 3px;
  border-radius: 0;
  margin: 5px;
  white-space: nowrap;
  font-family: 'Cocogoose', sans-serif;
  font-size: 2vw;
  padding: 1vw 2vw;
}

.navbar-sections .close {
  display: none;
}